In [60]:
import numpy as np
import pandas as pd
#from pandas_datareader import data as wb
import matplotlib.pyplot as plt
import yfinance as yf

# Gold, Crude Oil

In [61]:
data_gold_oil = pd.DataFrame()
# define the ticker symbol
symbols = ["GC=F", # Gold
           "CL=F", # Crude Oil
           ]

for symbol in symbols:
    #get data on this ticker
    tickerData = yf.Ticker(symbol)
    #get the historical prices for this ticker
    symbol_close_data = tickerData.history(period="1d", start="2015-01-01", end="2022-05-01")["Close"]
    data_gold_oil[symbol] = symbol_close_data


data_gold_oil.columns = ['Gold', 'Crude Oil']

data_gold_oil

                   Gold   Crude Oil
Date
2014-12-31  1183.900024   53.270000
2015-01-02  1186.000000   52.689999
2015-01-05  1203.900024   50.040001
2015-01-06  1219.300049   47.930000
2015-01-07  1210.599976   48.650002
...                 ...         ...
2022-04-25  1893.199951   98.540001
2022-04-26  1901.400024  101.699997
2022-04-27  1885.900024  102.019997
2022-04-28  1888.699951  105.360001
2022-04-29  1909.300049  104.690002

[1844 rows x 2 columns]

# Federal Funds Rate

In [62]:
data_ffr = pd.read_csv("fed-funds-rate-historical-chart.csv")

data_ffr = data_ffr[(data_ffr.date >= "2014-12-31") & (data_ffr.date <= "2022-04-29")]

data_ffr['date'] = pd.to_datetime(data_ffr['date'], infer_datetime_format=True)

data_ffr.set_index("date", inplace=True)

data_ffr.columns = ['Fed Funds Rate']

data_ffr

            Fed Funds Rate
date
2014-12-31            0.06
2015-01-01            0.06
2015-01-02            0.12
2015-01-03            0.12
2015-01-04            0.12
...                    ...
2022-04-25            0.33
2022-04-26            0.33
2022-04-27            0.33
2022-04-28            0.33
2022-04-29            0.33

[2231 rows x 1 columns]

In [63]:
data = pd.concat([data_gold_oil, data_ffr], axis=1)

data.dropna(axis=0, how='any', inplace=True)

data

                   Gold   Crude Oil  Fed Funds Rate
2014-12-31  1183.900024   53.270000            0.06
2015-01-02  1186.000000   52.689999            0.12
2015-01-05  1203.900024   50.040001            0.12
2015-01-06  1219.300049   47.930000            0.12
2015-01-07  1210.599976   48.650002            0.12
...                 ...         ...             ...
2022-04-25  1893.199951   98.540001            0.33
2022-04-26  1901.400024  101.699997            0.33
2022-04-27  1885.900024  102.019997            0.33
2022-04-28  1888.699951  105.360001            0.33
2022-04-29  1909.300049  104.690002            0.33

[1835 rows x 3 columns]

In [64]:
data.to_csv("gold_oil_ffr_5.csv")